.comp{
    background-color: beige;
}
.conatiner{
    background-color: beige;
}

.usersDisplay{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 1px solid black;
   margin-left: 500px;
   margin-right: 500px;
    border-radius: 25px;
    background-color: #EBACA2;
    color: black;
    padding: 20px;
    text-align: center;
}

.usersDisplay:hover {
 background-color: white;
  }
button{
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}
.comp{
    align-items: center;
}
input{
    width: 60%;
 background-color: #f5efe6;
  
    padding: 40px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #EBACA2;
    border-radius: 25px;
    box-sizing: border-box;
}

